html, body {
  margin:  0;
  padding: 0;
}

* {
  /* https://developer.mozilla.org/en/docs/Web/CSS/box-sizing */
  box-sizing: border-box;
}

html {
  font-family: 'Slabo 27px', serif;
  font-size: 10px;
}

body {
  background-color: white;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
}

h1 {
  font-size: 3.6rem;
}

p {
  font-size: 2rem;
}

header {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient */
  background: linear-gradient(45deg, #006666, darkgreen);
  flex-grow: 1;
  flex-basis: 100%;
}

footer {
  background-color: #eee;
  font-size: 1.5rem;
  padding: 1.5rem 1rem 1rem 1rem;
  flex-grow: 1;
  flex-basis: 100%;
}

header h1 {
  margin: 0;
  padding: 1.5rem;
  font-size: 5rem;
  color: white;
}

nav {
  flex-grow: 1;
  flex-basis: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: stretch;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  flex-grow: 1;
  flex-basis: 200px;
}

nav li a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  background: #333;
  color: white;
}

nav li a:hover {
  background: #AAA;
  color: black;
}

.main-content {
  flex-grow: 1;
  flex-basis: 66%;
}

aside {
  flex-grow: 1;
  flex-basis: 200px;
  padding: 10px;
}

.slider {
    width: 80vw;
    margin: 0 auto;
    padding-top: 10px;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
